GITHUB_TOKEN=ghp_xxx
GITHUB_OWNER=arii
GITHUB_REPO=tech-dancer
BOOMTICK_REPO_PATH=/home/ari/code/tech-dancer
DEFAULT_BASE_BRANCH=main
VITE_BASE_PATH=/tech-dancer/
LHCI_GITHUB_APP_TOKEN=
CHROME_PATH=
BOOMTICK_WRITE_MODE=false
BOOMTICK_PUSH_MODE=false
